body {
    margin-bottom: 100px;
    text-align: center;
}

#ul {
    padding-inline-start: 0px;
}
.titulo { 
    display:inline;
    margin-right: 2px;
    font-size: 25px;

}
.menu{
    display:inline;
    margin-right: 20px;

}
.menu:hover { 
    background-color: #ffb400;

}
.fotos {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 6x 6px #000000 ;
    margin-bottom: 20px;
    margin-right: 2%;
    transition: 1s;
}

.fotos:hover {
    box-shadow: 8px 8px #000000;
}

.divarredondada {
    margin: 0px;
    background-color: aqua;
    width: 100%;
    border-radius: 10px;
    box-shadow: 6x 6px #000000 ;
    margin-bottom: 20px;
   
}